.ui-pills {
	list-style: none;

	li {
		display: inline-block;
		border-radius: 5px;

		&:hover {
			background-color: $light-grey;
		}

		&.ui-active {
			background-color: $dark-blue;

			a { color: #FFF; }
		}

		a {
			display: inline-block;
			padding: 5px 7px;
			color: $dark-blue;
		}
	}
}