body {
	margin-bottom: 50px;
}

.site-header {
	height: 60px;
	margin-bottom: 40px;
	text-align: center;
}

.site-header a {
	color: inherit;
}

.ui-alert {
	margin: 5px;
}

[class*="ui-column-"] > p {
	width: 65%;
}

ul:not(.ui-option-bar) {
	margin-left: 30px;
}

.ui-box { margin: 5px; }

.ui-color-bubble {
	height: 100px;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 70%;
	padding: 20px;
}

pre * {
	font-family: monospace !important;
}
