body {
	margin-bottom: 50px;
}

.site-header {
	height: 60px;
	border-bottom: 1px solid #eee;
}

.site-header a {
	color: inherit;
}

.alert {
	margin: 5px;
}

[class*="column-"] > p {
	width: 65%;
}

ul:not(.option-bar) {
	margin-left: 30px;
}

.box { margin: 5px; }

.color-bubble {
	height: 100px;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 70%;
	padding: 20px;
}

pre, code, .tag, .attribute, .value, .title {
	font-family: monospace !important;
}