.box {
	border: 1px solid $light-grey;
	border-radius: 3px;
	margin: 5px;

	h2 {
		padding: 10px;
		border-bottom: 1px solid $light-grey;
		background: $very-light-grey;
		font-size: 1.2rem;
	}

	.box-inner {
		padding: 10px;
	}
}
