.button {
	display: inline-block;
	font-size: 1rem;
	border-radius: 4px;
	background-color: $light-grey;
	color: $base;
	box-shadow: 0px 3px darken($light-grey, 10%);
	padding: 10px 20px;
	outline: none;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	-webkit-appearance: none;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;

	&:hover {
		background-color: darken($light-grey, 10%);
		box-shadow: 0px 3px darken($light-grey, 20%);
	}

	&.primary {
		color: #FFF;
		background-color: $green;
		box-shadow: 0px 3px darken($green, 10%);
		text-shadow: 1px 1px rgba(0, 0, 0, 0.3);

		&:hover {
			background-color: darken($green, 10%);
			box-shadow: 0px 3px darken($green, 20%);
		}
	}

	&.dangerous {
		color: $red;

		&:hover {
			color: #FFF;
			background-color: $red;
			box-shadow: 0px 3px darken($red, 20%);
		}
	}

	&.dark {
		color: #FFF;
		background-color: $dark-blue;
		box-shadow: 0px 3px darken($dark-blue, 10%);
		text-shadow: 1px 1px rgba(0, 0, 0, 0.3);

		&:hover {
			background-color: darken($dark-blue, 10%);
			box-shadow: 0px 3px darken($dark-blue, 20%);
		}
	}

	&.small {
		padding: 4px 6px;
		border-radius: 2px;
		font-size: .7rem;
		font-weight: bold;
	}

	&.big {
		padding: 10px 20px;
		font-size: 1.25rem;
	}
}

button {
	@extend .button;
	font-size: 1rem;
}
