.dropdown .dropdown-list {
	position: absolute;
	top: 100%;
	z-index: 1000;
	display: none;
	padding: 9px 0;
	min-width: 160px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	background: #FFF;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	list-style: none;

	li  {
		border-top: 1px solid #eee;

		&:hover {
			background: $dark-blue;
			color: #FFF !important;
		}

		&:first-child {
			border-top: 0;
		}

		a {
			display: block;
			padding: 3px 20px;
			color: $dark-blue;

			&:hover {
				color: #FFF !important;
			}
		}
	}
}