.ui-dropdown .ui-dropdown-list {
	position: absolute;
	top: 100%;
	// Dropdowns go over everything else
	z-index: 1000;
	// Hide the dropdown options by default
	display: none;
	padding: 9px 0;
	min-width: 160px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	background: #FFF;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	list-style: none;

	li  {
		border-top: 1px solid #eee;

		// This can get very tricky.
		// We want the colors of the dropdown options to invert when we hover over them.
		// However, the link styling of whatever the dropdown is used in can override this.
		// Therefore, we apply the `!important` flag to make sure it is chosen.
		&:hover {
			background: $dark-blue;
			color: #FFF !important;
		}

		&:first-child {
			border-top: 0;
		}

		a {
			display: block;
			padding: 3px 20px;
			color: $dark-blue;

			&:hover {
				color: #FFF !important;
			}
		}
	}
}
