.field {
	margin: 15px 0;

	label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
	}

	label+label {
		font-weight: normal;
	}
}

input[type='text'] {
	box-sizing: border-box;
	padding: 4px 6px;
	min-height: 34px;
	width: 250px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px #CCC;
	font-weight: 100;
	font-size: 13px;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-timing-function: ease-out;

	&:focus {
		-webkit-transition-duration: 0.2s;
		-moz-transition-duration: 0.2s;
		-o-transition-duration: 0.2s;
		transition-duration: 0.2s;
		border-color: $dark-blue;
	}
}

input[type='url']   { @extend input[type='text'] }
input[type='email'] { @extend input[type='text'] }

select {
	background-color: $light-grey;
	background-image: linear-gradient(#F2F2F2,#E2E2E2);
	border-radius: 3px;
	box-shadow: 0 2px 0 #CCC;
	border: 1px solid #CCC;
	padding: 4px 6px;
	height: 2rem;
	font-family: inherit;
	font-size: 1rem;
	min-width: 250px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

input[type='radio'], input[type='checkbox'] {
	margin-right: 5px;
}

.required label:before {
	color: $red;
	content: "* ";
}

textarea {
	min-width: 400px;
	min-height: 150px;
	font-family: inherit;
	font-size: .8rem;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #CCC;
}