.ui-navbar {
	display: block;
	margin: 30px 0;
	vertical-align: middle;
	background-color: $dark-blue;
	color: #FFF;
	padding: 5px;
	border-radius: 3px;
	border-bottom: 3px solid $very-dark-blue;

	// This may look familiar - it's used in the definitions of `ui-row` as well.
	// We use it here because navbars use column-like sections inside of them.
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	// When this class is applied, the navbar is "fixed" to the top
	// of the page and scrolls with the content.
	&.ui-fixed {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		display: inherit;
		margin: 0;
		border-radius: 0;
		opacity: 0.98;
		// We want the navbar to be above pretty much anything.
		z-index: 10000;
	}

	.ui-navbar-left {
		width: 33%;
		height: 1.3rem;
		display: inline-block;
	}

	.ui-navbar-center {
		text-align: center;
		display: inline-block;
		width: 33%;

		h1 {
			font-size: 1.3rem;
			font-weight: normal;

			a {
				color: inherit;
			}
		}
	}

	.ui-navbar-right {
		display: inline-block;
		width: 33%;
		height: 1.3rem;

		.ss-icon {
			vertical-align: baseline;
		}
	}

	// We override a lot of styles in `_forms.scss` here becaus we want the
	// search bar to be transparent.
	.ui-navbar-search {
		background: rgba(0, 0, 0, 0);
		outline: none !important;
		box-shadow: none !important;
		border: none !important;
		color: #FFF;
		font-size: 1rem !important;
		font-family: inherit !important;
		min-height: 1rem !important;
	}

	.ui-navbar-options {
		list-style: none;
		float: right;

		& > li {
			display: inline-block;
			padding-left: 10px;
			height: 1.3rem;

			a {
				display: inline-block;
				vertical-align: middle;
				// This style declaration gets in the way of the styles defined in `_dropdowns.scss`
				// But we want to make sure that the links on the navbar iself are light grey.
				color: $light-grey;
			}
		}

		// An attempt at correcting the weird conflicts
		.ui-dropdown-list a {
			color: $dark-blue !important;

			&:hover {
				color: inherit !important;
			}
		}
	}
}
