.ui-page-title {
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EEE;

	h1 {
		margin: 0;
		font-weight: normal;
		font-size: 2rem;
		line-height: 28px;
	}
}