// The default settings for all text.
html {
	color: $base;
	font: 100%/1.4 "Proxima Nova", "Lato", sans-serif;
}

p {
	padding: 4px 0;
	margin: 0;
}

a {
	color: $blue;
	text-decoration: none;
	cursor: pointer;
	margin: 0;
	padding: 0;

	&:hover {
		text-decoration: none;
	}
}

// All "normal" `ul` elements - those without special classes.
ul:not([class]) {
	margin-left: 30px;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.8rem;
	line-height: 1.7;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.7;
}

h3 {
	font-size: 1.3rem;
	line-height: 1.7;
}

h4 {
	font-size: 1.1rem;
	line-height: 1.7;
}

// text icons like to be vertically aligned at the baseline, like all other text.
// We want them in the middle of the line.
.ss-icon { vertical-align: middle; }
.ui-red   { color: $red !important;}
.ui-green { color: $green !important; }
.ui-blue  { color: $dark-blue !important; }
.ui-grey  { color: $dark-grey !important; }
