.row { 
	display: block;
	margin: 30px 0;

	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
}

[class*='column-'] {
	display: inline-block;
	float: left;

	@media screen and (max-width: 640px){
	    display: block;
	    float: none;
	    width: 100% !important;
	    margin: 10px 0 !important;
	}
}

.center { margin: 0 auto; }
.pull-right { float: right; }
.inline { display: inline; }

