// Colors
$base:            #333;
$blue:            #2980B9;
$dark-blue:       #34495E;
$very-dark-blue:  #2C3E50;
$very-light-grey: #ECF0F1;
$light-grey:      #E3E3E3;
$dark-grey:       #BDC3C7;
$green:           #2ECC71;
$dark-green:      #27AE60;
$red:             #E74C3C;
$dark-red:        #C0392B;
$orange:          #E67E22;
$dark-orange:     #D35400;

$filter-color-1: #C69;
$filter-color-2: #B37399;
$filter-color-3: #998099;
$filter-color-4: #699;
$filter-color-5: #D2E1DD;
$filter-color-6: #FFF;
$filter-color-7: #F2ECE4;


* {
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrap {
	margin: 0 auto;
	padding: 0 26px;
	padding: 0 1.4rem;
	max-width: 960px;
}

@import
	"partials/grid",
	"partials/text",
	"partials/page-title",
	"partials/buttons",
	"partials/forms",
	"partials/album-uploader",
	"partials/alerts",
	"partials/boxes",
	"partials/hover-views",
	"partials/option-bars",
	"partials/dropdowns",
	"partials/pills",
	"partials/navbar",
	"partials/popup",
	"partials/tooltips";
